{% extends "index.html" %}

{% block content %}
<div style="height: calc(100vh - 80px);">
    <iframe
        id="wise-payroll-iframe"
        src="http://localhost:5173"
        width="100%"
        height="100%"
        frameborder="0">
    </iframe>
</div>

<script>
    const iframe = document.getElementById("wise-payroll-iframe");

    iframe.addEventListener("load", async () => {
        console.log("IFRAME LOADED");

        try {
            console.log("REQUESTING IFRAME TOKEN");

            const response = await fetch("/api/auth/iframe-token/", {
                method: "POST",
                credentials: "include",
                headers: {
                    "X-CSRFToken": document.querySelector(
                        "[name=csrfmiddlewaretoken]"
                    )?.value || "",
                },
            });

            console.log("TOKEN RESPONSE STATUS:", response.status);

            const data = await response.json();

            console.log("TOKEN RESPONSE:", data);

            iframe.contentWindow.postMessage(
                {
                    type: "HORILLA_IFRAME_AUTH",
                    token: data.access,
                },
                "http://localhost:5173"
            );

            console.log("TOKEN SENT TO IFRAME");
        } catch (error) {
            console.error("IFRAME AUTH ERROR:", error);
        }
    });
</script>
{% endblock %}